.teclas{
    display: flex;
    gap: 30px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    
   
}

body{
    background-color: black;
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8{
    
    color: rgb(234, 255, 0);
    border: 4px solid rgb(234, 255, 0);
    padding: 60px;
    font-size: 60px;
    font-weight: 900;
}